@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  box-sizing: border-box;
}
.contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 15%;
}
.contenido {
  width: 615px;
 margin: 50px;
}
.header{
background-color: #22d4fd;
padding: 23px;
}
.navegacion{
  display: flex;
  justify-content: space-around;

}


.navegacion__enlace{
font-family: "montserrat", sans-serif;
font-size: 24px;
font-weight: 600;
color:#f6f6f6;
text-decoration: none;
}

.titulo {
  font-size: 36px;
  font-family: "Krona One", sans-serif;
}
.parrafo {
  font-size: 26px;
  font-family: "Montserrat", sans-serif;
}

.resaltado {
  color: #22d4fd;
}
.botones {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.presentacion_redes {
  font-family: "krona one", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.boton {
  width: 378px;
  text-align: center;
  border-radius: 8px;
  font-size: 24px;
  font-weight: 600;
  padding: 21.5px 0;
  text-decoration: none;
  color: #f6f6f6;
  font-family: "krona one", sans-serif;
  border: 2px solid #22b4fb;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.boton:hover {
  background-color: #22b4fb;
  transition: 0.3s;
}
.parrafo strong:hover{
  color: #22d4fd;
  cursor: pointer;
} 
.navegacion__enlace:hover{
  color: #22d4fd;
  cursor: pointer;
  transition: 0.3s;
}
footer {
  background-color: #22d4fd;
  text-align: center;
  padding: 24px;
  font-family: "krona one", sans-serif;
  font-size: 14px;
  color: #f6f6f6
}
