@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
:root {
  --color-primario: #22d4fd;
  --color-secundario: #f6f6f6; 
  --color-terciario: #000000;
  --fuente-principal: "Krona One", sans-serif;
  --fuente-secundaria: "Montserrat", sans-serif;
}

body {
  background-color: var(--color-terciario);
  color: var(--color-secundario);
  box-sizing: border-box;
}
.contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 10%;
  gap: 40px;
  flex-wrap: wrap; 
}
.contenedor img {
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 10px;
    margin: 0 auto;
}

.contenido {
 flex: 1 1 400px;
  max-width: 600px; 
  margin: 0 auto;
}

.header {
  background-color: var(--color-primario);
  padding: 23px;
}
.navegacion {
  display: flex;
  justify-content: space-around;
}

.navegacion__enlace {
  font-family: var(--fuente-principal);
  font-size: 24px;
  font-weight: 600;
  color: var(--color-secundario);
  text-decoration: none;
}

.titulo {
   font-size: clamp(1.6rem, 4vw, 2.4rem); 
  margin-bottom: 20px;
  font-family: var(--fuente-principal)
}
.parrafo {
  font-size: clamp(1rem, 2.5vw, 1.3rem);
  font-family: var(--fuente-secundaria);
}

.resaltado {
  color: var(--color-primario);
}
.botones {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.presentacion_redes {
  font-family: var(--fuente-principal);
  font-size: 24px;
  font-weight: 400;
}
.boton {
  width: 378px;
  text-align: center;
  border-radius: 8px;
  font-size: 24px;
  font-weight: 600;
  padding: 21.5px 0;
  text-decoration: none;
  color: var(--color-secundario);
  font-family: var(--fuente-principal);
  border: 2px solid var(--color-primario);
  display: flex;
  justify-content: center;
  gap: 10px;
}
.boton:hover {
  background-color: var(--color-primario);
  transition: 0.3s;
}
.parrafo strong:hover {
  color: var(--color-primario);
  cursor: pointer;
}
.navegacion__enlace:hover {
  color: var(--color-terciario);
  cursor: pointer;
  transition: 0.3s;
}
footer {
  background-color: var(--color-primario);
  text-align: center;
  padding: 24px;
  font-family: var(--fuente-principal);
  font-size: 14px;
  color: var(--color-secundario);
}

@media (max-width: 768px) {
  .contenedor {
    flex-direction: column;
    text-align: center;
    padding: 20px;
    gap: 30px;
  }
   .botones {
    width: 100%;
  }

  .boton {
    width: 100%;
    max-width: 320px;
  }
  
}
